# Node.js (Frontend)
node_modules/
dist/
.env
.env.*
!.env.example

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
*.db
*.sqlite
*.sqlite3

# Operatsion tizim fayllari
.DS_Store
Thumbs.db
